version: '3.8'

services:
  osm_city_pipeline:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: osm_city_pipeline
    volumes:
      - .:/workspace/osm_city_pipeline
      - worlds_data:/workspace/osm_city_pipeline/worlds
    environment:
      - DISPLAY=${DISPLAY:-:0}
      - ROS_DISTRO=jazzy
    network_mode: host
    privileged: true
    stdin_open: true
    tty: true

volumes:
  worlds_data:

